#tituloComentarios {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;

  font-family: "Dancing Script", cursive;
  font-size: 60px;
  text-shadow: 0 0 5px rgb(47, 0, 255), 0 0 15px rgb(63, 60, 236),
    0 0 30px rgb(50, 50, 205), 0 0 50px rgb(34, 0, 255);
  /* font-family: 'Dancing Script', cursive;  */
  color: white;
}

#imgAviso {
  background-image: url("../img/contruccion.png");
  height: 300px;
  width: 220px;
  /* filter: grayscale(90%); */
  background-size: cover;
}

#contenedorConstruccion {
  display: flex;
  justify-content: center;
  text-align: center;
}

body {
  text-align: center;
}

#textoIndicacionComentarios {
  font-family: "Abril Fatface", cursive;
  color: white;
}

#advertenciaComentarios {
  font-family: "Abril Fatface", cursive;
  margin-top: 30px;
  font-size: 15px;
  opacity: 0.3;
}

#comentarios {
  margin-top: 40px;
  border-radius: 5px;
  background: #d7c896;
  /* box-shadow: 0 0 10px #f60303, 0 0 40px #f60303, 0 0 80px #f60303; */
  color: black;
  font-family: "Abril Fatface", cursive;
  padding: 20px;
  font-size: x;
}

#btnEnviarComentario {
  margin-top: 20px;
  border-radius: 5px;
  background: #54641d;
  box-shadow: 0 0 10px #89f603, 0 0 40px #21cc1b, 0 0 80px #5c7110;
  cursor: pointer;
  width: 80px;
  height: 30px;
}

#btnEnviarComentario:active {
  background: #40f603;
  box-shadow: 0 0 10px #f6f603, 0 0 40px #03f691, 0 0 80px #107110;
  width: 100px;
  height: 40px;
}

#validador {
  margin-top: 20px;
  color: whitesmoke;
  font-size: 25px;
}

@media (max-width: 925px) {
  #comentarios {
    margin-top: 50px;
    border-radius: 5px;

    width: 600px;

    padding: 20px;
  }

  #tituloComentarios {
    font-size: 50px;
  }

  #contenedorConstruccion {
    font-size: 20px;
    text-align: center;
  }
}

#mensajeComentarios {
  margin-top: 150px;
}

@media (max-width: 700px) {
  #comentarios {
    margin-top: 50px;
    border-radius: 5px;
    width: 400px;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  #comentarios {
    margin-top: 50px;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
  }
}

@media (max-width: 313px) {
  #tituloComentarios {
    font-size: 40px;
  }
}
